.container
  %h2 Select Preference
  %table.table.table-striped.table-bordered
    %thead
      %tr.btn-group{"data-toggle" => "buttons"}
        %th
          %span.glyphicon.glyphicon-ok Dates
        %th
          %span.glyphicon.glyphicon-ok Morn
        %th
          %span.glyphicon.glyphicon-ok Noon
        %th
          %span.glyphicon.glyphicon-ok Eve
        %th
          %span.glyphicon.glyphicon-ok Night
    %tbody
      %tr.btn-group{"data-toggle" => "buttons"}
        %td
          %span.glyphicon.glyphicon-ok 26/11
        %td
          %span.glyphicon.glyphicon-ok
        %td
          %span.glyphicon.glyphicon-ok
        %td
          %span.glyphicon.glyphicon-ok
        %td
          %span.glyphicon.glyphicon-ok
      %tr.btn-group{"data-toggle" => "buttons"}
        %td
          %span.glyphicon.glyphicon-ok 27/11
        %td
          %span.glyphicon.glyphicon-ok
        %td
          %span.glyphicon.glyphicon-ok
        %td
          %span.glyphicon.glyphicon-ok
        %td
          %span.glyphicon.glyphicon-ok
      %tr.btn-group{"data-toggle" => "buttons"}
        %td
          %span.glyphicon.glyphicon-ok 28/11
        %td
          %span.glyphicon.glyphicon-ok
        %td
          %span.glyphicon.glyphicon-ok
        %td
          %span.glyphicon.glyphicon-ok
        %td
          %span.glyphicon.glyphicon-ok